<!DOCTYPE html>


<html>
<head>
    <title>Archiver's Workbench</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='stylesheets/main.css') }}">
    <script src="{{ url_for('static', filename='javascripts/my-seealso.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='javascripts/jquery-1.11.0.js') }}" type="text/javascript"></script>
</head>

<body>
<div class=page>

  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>

</body>


</html>