{% extends "layout.html" %}
{% block body %}


<h2>Zeigt einen Datensatz an:</h2>

    <table>
        <tr>
            <th>GND</th>
            <td>{{ entry.gnd }}</td>
        </tr>
        <tr>
            <th>Nachname</th>
            <td>{{ entry.nachname }}</td>
        </tr>

        <tr>
            <th>Vorname</th>
            <td>{{ entry.vorname }}</td>
        </tr>

        <tr>
            <th>URL</th>
            <td>{{ entry.url }}</td>
        </tr>

        <tr>
            <th>Seite</th>
            <td>{{ entry.page }}</td>
        </tr>

        <tr>
            <th>Kommentar</th>
            <td>{{ entry.comment }}</td>
        </tr>
        <tr>
            <th>Ok</th>
            <td>{{ entry.ok }}</td>
        </tr>

    </table>


    <p>Experiment zu http://staging.api.lobid.org/person?id=118580604&format=full</p>

    <div id="placeholder"></div>

    <script>



        $.getJSON( "/gnd/118580604", function( data ) {
            var items = [];
            document.getElementById("placeholder").innerHTML="biographicalOrHistoricalInformation: " + data[0]["@graph"][0].biographicalOrHistoricalInformation["@value"] + "<br/>"
                                                           + "id: "          + data[0]["@graph"][0]["@id"] + "<br/>"
                                                           + "dateOfBirth: "  +data[0]["@graph"][0].dateOfBirth + "<br/>"
                                                           + "prefName: "     +data[0]["@graph"][0].preferredNameForThePerson;

        });


    </script>


{% endblock %}
